* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    display: block;
    position: absolute;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}

div {
    border: 1px solid #DDDDDD;
    width: 400px;
    height: 255px;
    position: relative;
}

.japao {
    background-color: white;

}

.japao::after {
    content: "";
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    clip-path: circle();
    background-color: red;
}

.brasil {
    background-color: green;
}

.brasil::before {
    content: "";
    background-color: yellow;
    width: 300px;
    height: 180px;
    top: calc(50% - 180px / 2);
    left: calc(50% - 300px / 2);
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}

.brasil::after {
    content: "";
    background-color: blue;
    clip-path: circle();
    width: 115px;
    height: 115px;
    top: calc(50% - 115px/2);
    left: calc(50% - 115px/2);
}