* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    display: block;
    position: absolute;
}

*::after,
*::before,
div {
    aspect-ratio: 1/1;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}

div {
    border: 1px solid #DDDDDD;
    width: 400px;
    height: 255px;
    position: relative;
}

.japao {
    background-color: white;

}

.japao::after {
    content: "";
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    clip-path: circle();
    background-color: red;
}

.brasil {
    background-color: green;
}

.brasil::before {
    content: "";
    background-color: yellow;
    width: 300px;
    height: 180px;
    top: calc(50% - 180px / 2);
    left: calc(50% - 300px / 2);
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}

.brasil::after {
    content: "";
    background-color: blue;
    clip-path: circle();
    width: 115px;
    height: 115px;
    top: calc(50% - 115px/2);
    left: calc(50% - 115px/2);
}

.chile {
    background: linear-gradient(0deg, red 50%, white 50%);
}

.chile::before {
    content: "";
    background-color: blue;
    width: 33.33%;
    height: calc(255px/2);
    top: 0;
    left: 0;
}

.chile::after {
    --point-one: 50% 0%;
    --point-two: 61% 35%;
    --point-three: 98% 35%;
    --point-four: 68% 57%;
    --point-five: 79% 91%;
    --point-six: 50% 70%;
    --point-seven: 21% 91%;
    --point-eight: 32% 57%;
    --point-nine: 2% 35%;
    --point-ten: 39% 35%;
    content: "";
    background-color: white;
    top: 11%;
    left: 7%;
    width: 71px;
    height: 71px;
    clip-path: polygon(var(--point-one), var(--point-two), var(--point-three), var(--point-four), var(--point-five), var(--point-six), var(--point-seven), var(--point-eight), var(--point-nine), var(--point-ten));
}

@media screen and (max-width: 425px) {
    div {
        width: 300px;
        height: 155px;
    }

    .brasil::before {
        width: 200px;
        height: 100px;
        top: calc(50% - 100px / 2);
        left: calc(50% - 200px / 2);
    }

    .brasil::after {
        width: 55px;
        height: 55px;
        top: calc(50% - 55px/2);
        left: calc(50% - 55px/2);
    }

    .chile::before {
        width: 33.33%;
        height: calc(155px/2);
    }

    .chile::after {
        top: 10%;
        left: 8.5%;
        width: 51px;
        height: 51px;
    }
}