body {
  background-color: #222222;
  background-image: url("./assets/github.svg");
  background-repeat: no-repeat;
  background-position: top right;
}

.container {
  margin: 0 auto;
  margin-top: 105px;
  height: 100vh;
  font-family: "Open sans";
  color: #FFE8D9;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 48px;
  font-weight: 800;
  font-style: normal;
  line-height: 60px;
  letter-spacing: -0.4px;
  text-align: center;
}

.subtitle {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
}